---
interface Props {
  jobInfo: {
    name: string;
    role: string;
    from: string;
    to: string;
    details: string[];
  };
}

const { jobInfo } = Astro.props;
---

<div class="mb-2">
  <div class="flex justify-between">
    <div class="font-semibold text-sm">
      {" "}
      {jobInfo.name} ({jobInfo.role})
    </div>
    <div class="italic text-xs">
      {jobInfo.from} - {jobInfo.to}
    </div>
  </div>
  <div>
    <ul class="list-none text-sm leading-tight">
      {
        jobInfo.details.map((detail) => (
          <li>
            <span>{detail}</span>
          </li>
        ))
      }
    </ul>
  </div>
</div>
