---
interface Props {
  jobInfo: {
    name: string;
    role: string;
    from: string;
    to?: string;
    details: string[];
  };
}

const { jobInfo } = Astro.props;
---

<div class="mb-2">
  <div class="flex flex-col justify-between">
    <div class="font-semibold text-sm flex mb-1">
      <span>{jobInfo.name}</span>
      <span class="grow text-center">{jobInfo.role}</span>
      <span>{jobInfo.from} {jobInfo.to && <span>- {jobInfo.to}</span>} </span>
    </div>
    <div>
      <ul class="list-none text-sm leading-[1.2rem]">
        {
          jobInfo.details.map((detail) => (
            <li>
              <span>{detail}</span>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
