---
import HeaderDetailInfo from "../components/resume/HeaderDetailInfo.astro";
import JobInfo from "../components/resume/JobInfo.astro";
import ResumeListSection from "../components/resume/ResumeListSection.astro";
import HeaderDetails from "../static/headerDetails.json";
import JobsDetails from "../static/jobsInfo.json";
import SkillDetails from "../static/skillsInfo.json";
import ProjectsInfo from "../static/projectsInfo.json";
import AchievementsInfo from "../static/achievmentsInfo.json";
import EducationInfo from "../static/education.json";
import "@fontsource-variable/commissioner";
---

<!doctype html>
<html lang="en">
  <head>
    <title>Yash_Ladha_Resume</title>
    <meta name="robots" content="noindex" />
  </head>
  <body>
    <div class="print:text-sm font-[Georgia] lg:mx-auto w-full lg:w-1/2">
      <!-- Header Section -->
      <div class="text-center text-xl pb-1">Yash Ladha</div>
      <div class="text-center text-sm pb-1 comma-separator">
        {HeaderDetails.map((headerDetail) => <HeaderDetailInfo headerInfo={headerDetail} />)}
      </div>

      <!-- Jobs Section  -->
      <ResumeListSection name="Work Experience">
        {JobsDetails.map((job) => <JobInfo jobInfo={job} />)}
      </ResumeListSection>

      <ResumeListSection name="Projects">
        {
          ProjectsInfo.map((project) => (
            <li>
              <span class="text-sm">
                <a href={project.link} class="font-medium" target="_blank" rel="noreferrer">
                  {project.name}
                </a>
                : {project.detail}
              </span>
            </li>
          ))
        }
      </ResumeListSection>

      <!-- Skills Section -->
      <ResumeListSection name="Skills">
        {
          Object.entries(SkillDetails).map(([key, value]) => (
            <div class="text-sm">
              <span>
                <span class="capitalize text-sm font-semibold">{key}</span>: {value.join(", ")}
              </span>
            </div>
          ))
        }
      </ResumeListSection>

      <!-- Education Section -->
      <ResumeListSection name="Education">
        {
          EducationInfo.map((education) => (
            <div>
              <div class="flex justify-between">
                <div>
                  <span class="font-semibold text-sm">{education.course}</span>
                  <span>, {education.name}</span>
                </div>
                <div class="font-bold text-sm">
                  <span>{education.period.from}</span>
                  <span>- {education.period.to}</span>
                </div>
              </div>
            </div>
          ))
        }
      </ResumeListSection>

      <!-- Achievements Section -->
      <ResumeListSection hidden={true} name="Achievements">
        {
          AchievementsInfo.map((info) => (
            <li class="text-sm">
              <span>{info}</span>
            </li>
          ))
        }
      </ResumeListSection>
    </div>
  </body>
</html>

<style is:global>
  li {
    display: flex;
  }

  li::before {
    content: "🞄";
    margin-left: -0.35rem;
    float: left;
  }

  @font-face {
    font-family: "Georgia";
    font-style: normal;
    font-weight: normal;
    src:
      url("/fonts/georgia.woff") format("woff");
  }

  @font-face {
    font-family: "Georgia";
    font-style: italic;
    font-weight: normal;
    src:
      url("/fonts/georgiai.woff") format("woff");
  }

  @font-face {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 700;
    src:
      url("/fonts/georgiab.woff") format("woff");
  }

  @font-face {
    font-family: "Georgia";
    font-style: italic;
    font-weight: 800;
    src:
      url("/fonts/georgiaz.woff") format("woff");
  }
</style>
