---
import HeaderDetailInfo from "../components/resume/HeaderDetailInfo.astro";
import JobInfo from "../components/resume/JobInfo.astro";
import Line from "../components/resume/Line.astro";
import ResumeListSection from "../components/resume/ResumeListSection.astro";
import HeaderDetails from "../static/headerDetails.json";
import JobsDetails from "../static/jobsInfo.json";
import SkillDetails from "../static/skillsInfo.json";
import ProjectsInfo from "../static/projectsInfo.json";
import AchievementsInfo from "../static/achievmentsInfo.json";
import EducationInfo from "../static/education.json";
import "@fontsource-variable/commissioner";
---

<!doctype html>
<html lang="en">
  <head>
    <title>Yash_Ladha_Resume</title>
    <meta name="robots" content="noindex" />
  </head>
  <body>
    <div class="print:text-sm lg:mx-auto w-full lg:w-1/2">
      <!-- Header Section -->
      <div class="text-center text-3xl pb-1">Yash Ladha</div>
      <div class="text-center text-xs pb-1">
        {HeaderDetails.map((headerDetail) => <HeaderDetailInfo headerInfo={headerDetail} />)}
      </div>

      <Line />
      <div class="grid gap-x-4 grid-cols-8">
        <div class="col-span-2">
          <!-- Education Section -->
          <ResumeListSection name="Education">
            {
              EducationInfo.map((education) => (
                <div>
                  <div class="flex flex-col justify-between">
                    <div>
                      <span class="font-semibold text-sm">{education.course}</span>
                      <span>, {education.name}</span>
                    </div>
                    <div class="font-bold">
                      <span>{education.period.from}</span>
                      <span>- {education.period.to}</span>
                    </div>
                  </div>
                </div>
              ))
            }
          </ResumeListSection>
          <br />
          <!-- Skills Section -->
          <ResumeListSection name="Skills">
            {
              Object.entries(SkillDetails).map(([key, value]) => (
                <div class="text-sm">
                  <span>
                    <span class="capitalize font-semibold">{key}</span> - {value.join(", ")}
                  </span>
                </div>
              ))
            }
          </ResumeListSection>
          <br />
          <!-- Achievements Section -->
          <ResumeListSection name="Achievements">
            {
              AchievementsInfo.map((info) => (
                <li class="text-sm">
                  <span>{info}</span>
                </li>
              ))
            }
          </ResumeListSection>
        </div>

        <div class="col-span-6">
          <!-- Jobs Section  -->
          <ResumeListSection name="Work Experience">
            {JobsDetails.map((job) => <JobInfo jobInfo={job} />)}
          </ResumeListSection>

          <ResumeListSection name="Projects">
            {
              ProjectsInfo.map((project) => (
                <li>
                  <span>
                    <a href={project.link} target="_blank" rel="noreferrer">
                      {project.name}
                    </a>{" "}
                    - {project.detail}
                  </span>
                </li>
              ))
            }
          </ResumeListSection>
        </div>
      </div>
    </div>
  </body>
</html>

<style is:global>
  li {
    display: flex;
  }

  li::before {
    content: "🞄";
    margin-left: -0.35rem;
    float: left;
  }
</style>
